.tableHead {
  font-size: 18px;
}
.tableHeadRow {
  border-bottom: 2px solid #ddd;
  font-weight: 600;
  text-align: left;
}

.tableHeadCell {
  padding: 10px;
}
.tableHeadCellContent {
  display: flex;
  justify-content: space-between;
}
