.react-table table {
  width: 100%;
  border-collapse: collapse;
}
.react-table .tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.react-table .tableFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
